p:nth-child(odd){color:green;}
p:nth-child(even){color:red;}
/*dit is een comment*/
/*p is gewoon iets wat er voor zorgt dat alleen p's geselecteerd worden (p van paragraph)*/

*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display:block;
}
body{
	width: 100%;
	display: flex;
	justify-content: center;
}
#alles{
	border: 1px solid black;
	max-width: 1300px;
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
#top_header{
	background: linear-gradient(orange,yellow);
	border: 1px solid blue;
	padding: 20px;
}
#top_menu{
	background: red;
	color: black;
	padding:6px;
}
#top_menu li{
	display: inline-flex;
	list-style-type: none;
	padding:5px 12px;
	font: bold 14px Tahoma;
	background:#ffa500;
	border-radius: 10px;
	transition:background 1s;
}
#top_menu li:hover{
	background:yellow;	
}
#updating_news{
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
}
#main_section{
	width: 850px
	margin: 15px; /* 900 px, nog 400px over*/
	padding: 10px;
	flex: 1 1 auto;
}
#the_feed{
	border: 1px solid red;
	width: 250px;
	height: 400px;
	margin: 10px;
	padding: 10px;
	background: #ffa500;
	border-radius: 5px;
}
#the_footer{
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid orange;
}
article{
	background: #fffbcc;
	border: 1px solid red;
	padding: 20px;
	border-radius: 5px;
	
}
article footer{
	text-align: right;
}