/*p:nth-child(odd){color:green;}*/
/*p:nth-child(even){color:red;}*/
/*dit is een comment*/
/*p is gewoon iets wat er voor zorgt dat alleen p's geselecteerd worden (p van paragraph)*/

*{
	margin: 0px;
	padding: 0px;
}
h1{
	font: bold 20px Tahoma;
}
h2{
	font: bold 14px Tahoma;
}
section, footer, aside, nav, article, hgroup{display:block;}
body{
	
	height: auto !important;
	height: 100%;
	min-height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	overflow: auto;
}

#wrapper/*behalve navbar*/{
	background-image: url('Resources/backgroundtest5.jpg');
	border-bottom: 1px solid black;
	max-width: 100%;
	margin: 0px 0px;
	padding-left: 100px;
	padding-right: 100px;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

nav{
	z-index: 99999;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: rgba(15,15,15,0.80);
	position: sticky;
	top: 0;
	max-height: 51px;
	max-width: 100%;
	flex: 1;
	transform: 300ms all ease;
	}
		nav > ul{ 
			list-style-type: none;
			padding-left: 100px /*AFSTAND VAN DE LINKER KANT BIJ NAVIGATIEBALK*/
		 }
		 	nav > ul > article{float: left; color: white; padding-right: 20px;padding-top:12px; }
			nav > ul > li{
				float: left;
				width: auto;
				box-shadow: rgba(0,0,0,0.4) 0px 1px 5px;
				border-bottom: 1px dotted rgba(0,0,0,.1);
				position: relative;
			}
				nav > ul > li > a{
					display: block;
					color: rgba(255,255,255,.65);
					font-weight: 700;
					padding: 1rem 1.5rem;
					text-decoration: none;
					transition: background 1s;
					color:#fff;
					font: bold 14px Tahoma;
				}
@media screen and (max-width: 1080px)/*dit is het aantal pixels bij welke de navbar van vorm veranderd*/{
	nav > ul{
		height: 100%;
		width: 100px;
		padding-left: 0;
		margin: 0;
		padding:0;
		position: fixed;
		overflow:auto;
		background-color: rgba(15,15,15,0.80);
	}
	nav > ul > li{
		width:100px; 
		float: none; 
	}
	nav > ul > li > a{
		display: block;
		text-decoration: none;
		padding: 15px 0px;
	}
	
	#wrapper{
		padding-top: 0;
		margin-left: 100px;
		padding-right: 20px;
		float: center;
	 }
}
nav > ul > li > a.active{background-color: red;}
nav > ul > li > a:hover:not(.active){background-color:yellow;}
#skin{
	text-align: center;
	margin: 5px auto;
	width: 500px;
	padding: 5px; 5px
	border: 1px solid black;
	border-radius: 5px;
	background-color: rgba(15,15,15,0.85);
	height: 270px;
}

#updating_news{
	display: flex;
	padding: 50px 50px;
	background-color: rgba(15,15,15,0.85);
	margin-bottom: 20px;
}
	#main_section{
		float: left;
		width: 80%;
		margin: 0px; 
		padding: 0px;
	}
		#main_section article{
			border: 1px solid white;
			padding: 20px;
			margin-bottom: 10px;
			border-radius: 5px;	
			box-shadow: rgba(0,0,0,1) 3px 1px 4px;
			background: #757575;
		}
			#main_section article footer{
				text-align: right;
			}
	#the_feed{
		position: relative;
		float: right;
		border: 1px solid white;
		width: 250px;
		height: 570px;
		margin-left: 20px;
		margin-bottom: 20px;
		padding: 5px;
		flex: 0 0 auto;
		background: lightblue;
		border-radius: 5px;
		box-shadow: rgba(0,0,0,1) 3px 1px 4px;
	}
	#ad_banner{
		float: left;
		background: white;
		margin:auto;
		margin-bottom: 25px;
		text-align: center;
		padding: 0;
		width: 1000px;
		height: 100px;
		border: 2px solid green
}
#the_footer{
	width: 100%;
	clear: both;
	text-align: center;
	padding: 20px;
	border-top: 2px solid orange;
	margin: auto;
    position: absolute;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	padding: 1rem;
}
