
body {
	background-image: url('Resources/backgroundtest5.jpg');
	margin: 0 auto;

}
.simple-form{
	width:500px;
	height:400px;
	text-align:center;
	margin:auto;
	background-color:#7a7f87;
	border-radius:4px;
	margin-top:150px;
	opacity: 0.7;
	border-radius:5%;
	
}
input[type="text"], input[type="password"]{
	height:45px;
	width: 300px;
	font-size:18px;
	margin-bottom: 20px;
	padding-left: 30px;
}
.form-input::before{
	content: "\f007";
	position:absolute;

	font-size:35px;
	font-family: "FontAwesome";
	padding-left:5px;
	padding-top:5px;
	font-size:35px;

}
.form-input:last-child::before{
	content: "\f023";
	
}
.btn-login{
	padding:15px 25px;
	color:#fff;
	background-color: rgb(89, 135, 209);
}
a{
	color:#fff;

}
.form-input {
	top:700x;
}
#circle{
	top:400px;
}
